.coontainer{
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
}

.box{
    width: 1000px;
    height: 550px;
    background: lightgray;
}

body{
    margin: 0px;
}

.font{
    color: blue;    
}

.font1{
    color: blue;
    text-align: center;
    
}

.input{
    margin-top: 15px;
    margin-left: 70px;
}

.pagamento{
    margin-left: 530px;
    margin-top: -68px;
}

.servico{
    margin-left: -530px;
    margin-top: -174px;
    line-height: 26px;
    width: 532px;
}

.opcoes{
    margin-top: -2px;
    margin-left: -530px;
}
.btn{
    margin-top: 5px;
    margin-left: 80px;
}

.h1{
    text-align: center;
}

.campo{
    width: 500px;
}

